# Database
DATABASE_URL=postgresql://postgres:postgres@db1:5432/postgres

# Kafka
KAFKA_BROKERS=kafka:9092
KAFKA_GROUP_ID=group_audit
KAFKA_TOPIC=audit
KAFKA_TOPIC_APP=audit.app

# Redis
REDIS_URL=redis://redis:6379

# JWT
JWT_SECKEY='SECRET_KEY_JWT'

RUST_LOG=info
